{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<form action="{{ path('reconnix_user_view_index', {'id': user.id}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    	{{ form_widget(form) }}
    	<div>
        	<input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    	</div>
	</form>

	<a href="{{path('reconnix_user_delete_index', {'id':user.id})}}">Delete</a>
{% endblock fos_user_content %}